<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <mat-card>
        <mat-card-content>
          <h1>Appointment Details</h1>
        </mat-card-content>
        <!-- <div class="example-button-row"> -->
        <!-- <div align="center"> -->
        <div class="btn-group" role="group">
          <!-- <button mat-button>Basic</button> -->
          <button color="primary" class="btn btn-primary" (click)="doCheckIn()" [disabled]="isCheckInDisabled()">
            Check In
          </button>
          <button color="accent" class="btn btn-success" (click)="doCheckOut()" [disabled]="isCheckoutButtonDisabled()">
            Check Out
          </button>
          <button color="danger" class="btn btn-danger" (click)="doSOS()" [disabled]="isSOSDisabled()">
            SOS
          </button>
          <!-- <button mat-button disabled>Disabled</button> -->
          <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
          <!-- </div> -->
        </div>
        <!-- </div> -->
      </mat-card>

      <mat-card>
        <div class="row">
          <mat-card-content>
            <div class="col-md-3">
              <h3>Client Name: {{ appointment.clientName }} </h3>
            </div>
          </mat-card-content>
          <mat-card-content>
            <p>Therapist Name: {{ appointment.therapistName }}</p>
          </mat-card-content>
          <mat-card-content>
            <p>Address: {{ appointment.clientAddress }}</p>
          </mat-card-content>
          <mat-card-content>
            <p>Scheduled Check in: {{ appointment.checkinTime }}</p>
          </mat-card-content>
          <mat-card-content>
            <p>Scheduled Check out: {{ appointment.checkoutTime }}</p>
          </mat-card-content>
          <mat-card-content>
            <p>Actual Check in: {{ appointment.actualCheckinTime }}</p>
          </mat-card-content>
          <mat-card-content>
            <p>Actual Check out: {{ appointment.actualCheckoutTime }}</p>
          </mat-card-content>
        </div>

        <mat-card>
          <mat-card-content>
            <h1>Appointment Status : {{ appointment.status | titlecase }}</h1>
          </mat-card-content>
        </mat-card>


      </mat-card>
    </div>
  </div>
</div>
