<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <mat-card>
          <mat-card-content>
              <h1>Therepist</h1>
          </mat-card-content>
      </mat-card>
  </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h2>Details</h2></div>
      <div class="panel-body">  
      <!-- Table -->
      <table class="table">
        <tr>
        <th>Name</th>
        <td>Prashant</td>
        <th>Contact</th>
        <td>999999999</td>
        </tr>
        <tr>
          <th>Address</th>
          <td colspan="3"></td>
          </tr>
      </table>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h2>Appointments</h2></div>
      <div class="panel-body">  
      <!-- Table -->
      <table class="table">
        <tr>
        <th>Name</th>
        <td>Prashant</td>
        <th>Contact</th>
        <td>999999999</td>
        </tr>
        <tr>
          <th>Address</th>
          <td colspan="3"></td>
          </tr>
      </table>
    </div>
    </div>
  </div>





  </div>
 
